Testlogin/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Testlogin.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Testlogin.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RegisterViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ConfirmPW" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lastname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PW" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisterViewModel" nillable="true" type="tns:RegisterViewModel" />
  <xs:complexType name="RepasswordViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConfirmPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RepasswordViewModel" nillable="true" type="tns:RepasswordViewModel" />
  <xs:complexType name="LoginViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginViewModel" nillable="true" type="tns:LoginViewModel" />
  <xs:complexType name="ArrayOfRegisterViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RegisterViewModel" nillable="true" type="tns:RegisterViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRegisterViewModel" nillable="true" type="tns:ArrayOfRegisterViewModel" />
</xs:schema>