Testlogin/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50342/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50342/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50342/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
      <xsd:import schemaLocation="http://localhost:50342/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Testlogin.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Registerid_InputMessage">
    <wsdl:part name="parameters" element="tns:Registerid" />
  </wsdl:message>
  <wsdl:message name="IService1_Registerid_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisteridResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Updateid_InputMessage">
    <wsdl:part name="parameters" element="tns:Updateid" />
  </wsdl:message>
  <wsdl:message name="IService1_Updateid_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateidResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Repass_InputMessage">
    <wsdl:part name="parameters" element="tns:Repass" />
  </wsdl:message>
  <wsdl:message name="IService1_Repass_OutputMessage">
    <wsdl:part name="parameters" element="tns:RepassResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Deleteid_InputMessage">
    <wsdl:part name="parameters" element="tns:Deleteid" />
  </wsdl:message>
  <wsdl:message name="IService1_Deleteid_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteidResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Getlogin_InputMessage">
    <wsdl:part name="parameters" element="tns:Getlogin" />
  </wsdl:message>
  <wsdl:message name="IService1_Getlogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetloginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Checkid_InputMessage">
    <wsdl:part name="parameters" element="tns:Checkid" />
  </wsdl:message>
  <wsdl:message name="IService1_Checkid_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckidResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Checkemail_InputMessage">
    <wsdl:part name="parameters" element="tns:Checkemail" />
  </wsdl:message>
  <wsdl:message name="IService1_Checkemail_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckemailResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Registerid">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Registerid" message="tns:IService1_Registerid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegisteridResponse" message="tns:IService1_Registerid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Updateid">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Updateid" message="tns:IService1_Updateid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateidResponse" message="tns:IService1_Updateid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Repass">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Repass" message="tns:IService1_Repass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RepassResponse" message="tns:IService1_Repass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Deleteid">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Deleteid" message="tns:IService1_Deleteid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteidResponse" message="tns:IService1_Deleteid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Getlogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Getlogin" message="tns:IService1_Getlogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetloginResponse" message="tns:IService1_Getlogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Checkid">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Checkid" message="tns:IService1_Checkid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CheckidResponse" message="tns:IService1_Checkid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Checkemail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Checkemail" message="tns:IService1_Checkemail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CheckemailResponse" message="tns:IService1_Checkemail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Registerid">
      <soap:operation soapAction="http://tempuri.org/IService1/Registerid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Updateid">
      <soap:operation soapAction="http://tempuri.org/IService1/Updateid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Repass">
      <soap:operation soapAction="http://tempuri.org/IService1/Repass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Deleteid">
      <soap:operation soapAction="http://tempuri.org/IService1/Deleteid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getlogin">
      <soap:operation soapAction="http://tempuri.org/IService1/Getlogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Checkid">
      <soap:operation soapAction="http://tempuri.org/IService1/Checkid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Checkemail">
      <soap:operation soapAction="http://tempuri.org/IService1/Checkemail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:50342/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>